<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.montessorizoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.screen.portrait" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AnimalDetailPageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ZooMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AnimalPageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AnimalsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>